[submodule "assignment_27052024"]
	path = assignment_27052024
	url = https://github.com/hhtrieu0108/assignment_27052024.git
[submodule "assignment_31052024"]
	path = assignment_31052024
	url = https://github.com/hhtrieu0108/assignment_31052024.git
[submodule "assignment_20062024"]
	path = assignment_20062024
	url = https://github.com/hhtrieu0108/assignment_20062024.git
[submodule "assignment_27062024"]
	path = assignment_27062024
	url = https://github.com/hhtrieu0108/assignment_27062024.git
[submodule "assignment_04072024"]
	path = assignment_04072024
	url = https://github.com/hhtrieu0108/assignment_04072024.git
[submodule "assignment_25072024"]
	path = assignment_25072024
	url = https://github.com/hhtrieu0108/assignment_25072024.git
[submodule "assignment_01082024"]
	path = assignment_01082024
	url = https://github.com/hhtrieu0108/assignment_01082024.git
[submodule "assignment_07082024"]
	path = assignment_07082024
	url = https://github.com/hhtrieu0108/assignment_07082024.git
[submodule "presentation_index"]
	path = presentation_index
	url = https://github.com/hhtrieu0108/Presentation_Index.git
